<div class="wrapper">
  <div class="palette">
    <div class="color" style="background-color: #0f0f0f">
      <p class="color-white">#0F0F0F</p>
    </div>
    <div class="color" style="background-color: #1a1b41">
      <p class="color-white">#1A1B41</p>
    </div>
    <div class="color" style="background-color: #2d2e2e">
      <p class="color-white">#2D2E2E</p>
    </div>
    <div class="color" style="background-color: #303633">
      <p class="color-white">#303633</p>
    </div>
    <div class="color" style="background-color: #384d48">
      <p>#384D48</p>
    </div>
    <div class="color" style="background-color: #395c6b">
      <p>#395C6B</p>
    </div>
    <div class="color" style="background-color: #464655">
      <p>#464655</p>
    </div>
    <div class="color" style="background-color: #545c52">
      <p>#545C52</p>
    </div>
    <div class="color" style="background-color: #6e7271">
      <p>#6E7271</p>
    </div>
    <div class="color" style="background-color: #716969">
      <p class="color-white">#716969</p>
    </div>
    <div class="color" style="background-color: #94958b">
      <p>#94958B</p>
    </div>
    <div class="color" style="background-color: #8be8cb">
      <p>#8BE8CB</p>
    </div>
    <div class="color" style="background-color: #baff29">
      <p>#BAFF29</p>
    </div>
  </div>
</div>
