<div class="fonts">
  <div class="cal">
    <h1>Cal Sans</h1>
    <h1>Cybrant Zonyx Lorem ipsum dolor sit amet.</h1>
    <h2>Cybrant Zonyx Lorem ipsum dolor sit amet.</h2>
    <h3>Cybrant Zonyx Lorem ipsum dolor sit amet.</h3>
    <h4>Cybrant Zonyx Lorem ipsum dolor sit amet.</h4>
    <h5>Cybrant Zonyx Lorem ipsum dolor sit amet.</h5>
    <h6>Cybrant Zonyx Lorem ipsum dolor sit amet.</h6>
    <p class="quote">Cybrant Zonyx Lorem ipsum dolor sit amet.</p>
    <p class="smaller">Cybrant Zonyx Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="inter">
    <h1>Inter</h1>
    <h1>Cybrant Zonyx Lorem ipsum dolor sit amet.</h1>
    <h2>Cybrant Zonyx Lorem ipsum dolor sit amet.</h2>
    <h3>Cybrant Zonyx Lorem ipsum dolor sit amet.</h3>
    <h4>Cybrant Zonyx Lorem ipsum dolor sit amet.</h4>
    <h5>Cybrant Zonyx Lorem ipsum dolor sit amet.</h5>
    <h6>Cybrant Zonyx Lorem ipsum dolor sit amet.</h6>
    <p class="quote">Cybrant Zonyx Lorem ipsum dolor sit amet.</p>
    <p class="smaller">Cybrant Zonyx Lorem ipsum dolor sit amet.</p>
  </div>
</div>
<div class="fonts">
  <div class="kanit">
    <h1>Kanit</h1>
    <h1>Cybrant Zonyx Lorem ipsum dolor sit amet.</h1>
    <h2>Cybrant Zonyx Lorem ipsum dolor sit amet.</h2>
    <h3>Cybrant Zonyx Lorem ipsum dolor sit amet.</h3>
    <h4>Cybrant Zonyx Lorem ipsum dolor sit amet.</h4>
    <h5>Cybrant Zonyx Lorem ipsum dolor sit amet.</h5>
    <h6>Cybrant Zonyx Lorem ipsum dolor sit amet.</h6>
    <p class="quote">Cybrant Zonyx Lorem ipsum dolor sit amet.</p>
    <p class="smaller">Cybrant Zonyx Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="robotocondensed">
    <h1>Roboto Condensed</h1>
    <h1>Cybrant Zonyx Lorem ipsum dolor sit amet.</h1>
    <h2>Cybrant Zonyx Lorem ipsum dolor sit amet.</h2>
    <h3>Cybrant Zonyx Lorem ipsum dolor sit amet.</h3>
    <h4>Cybrant Zonyx Lorem ipsum dolor sit amet.</h4>
    <h5>Cybrant Zonyx Lorem ipsum dolor sit amet.</h5>
    <h6>Cybrant Zonyx Lorem ipsum dolor sit amet.</h6>
    <p class="quote">Cybrant Zonyx Lorem ipsum dolor sit amet.</p>
    <p class="smaller">Cybrant Zonyx Lorem ipsum dolor sit amet.</p>
  </div>
</div>
<div class="fonts">
  <div class="roboto">
    <h1>Roboto</h1>
    <h1>Cybrant Zonyx Lorem ipsum dolor sit amet.</h1>
    <h2>Cybrant Zonyx Lorem ipsum dolor sit amet.</h2>
    <h3>Cybrant Zonyx Lorem ipsum dolor sit amet.</h3>
    <h4>Cybrant Zonyx Lorem ipsum dolor sit amet.</h4>
    <h5>Cybrant Zonyx Lorem ipsum dolor sit amet.</h5>
    <h6>Cybrant Zonyx Lorem ipsum dolor sit amet.</h6>
    <p class="quote">Cybrant Zonyx Lorem ipsum dolor sit amet.</p>
    <p class="smaller">Cybrant Zonyx Lorem ipsum dolor sit amet.</p>
  </div>
</div>
